@media only screen and (max-width: 1199px) {
    .shows_image {
        left: -198px;
    }
}

@media only screen and (max-width: 991px) {
    .main_nav {
        display: none;
    }

    .log_reg {
        right: 120px;
    }

    .hamburger {
        display: block;
    }

    .featured_album_link {
        width: 167px;
    }

    .shows_image {
        left: auto;
        width: 100%;
    }

    .shows_list_container {
        width: 100%;
        top: auto;
        transform: none;
        padding-left: 15px;
        padding-right: 15px;
    }

    .shows_list_col {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    .shows_list li {
        font-size: 16px;
    }

    .shows_row {
        margin-top: 71px;
    }
}

@media only screen and (max-width: 767px) {
    .shows_list li {
        font-size: 14px;
        padding-right: 15px;
    }

    .show_name {
        width: 100%;
    }

    .show_location {
        width: 100%;
        margin-left: 0;
    }
}


@media only screen and (max-width: 575px) {
    h1 {
        font-size: 36px;
    }

    .home {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header_content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .logo {
        left: 15px;
    }

    .log_reg {
        display: none;
    }

    .menu_log_reg {
        display: block;
    }
}
